{% extends "base.html" %}
{% block title %}SISTEC-DOWNLOAD: escolher planilhas para baixar{% endblock %}
{% block h1 %}SISTEC-DOWNLOAD: escolher planilhas para baixar{% endblock %}
{% block error %}
{{ super() }}
{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    <dl> <!-- INICIO DO FORMULARIO -->
    <h2><dt>
        <input type="checkbox" id="planilhas" name="campi" value="1" checked></input>
        <label for="planilhas">Planilha(s) do(s) C&acirc;mpus do IFG</label>
    </dt></h2>
    {% for key, tupla in planilhas[1].items() %}
    <h3><dd>
        <input type="checkbox" id="{{ 'planilha_%s'|format(key + tupla[0]) }}" name="{{ 'planilha_%s'|format(key + tupla[0]) }}" value="1" {% if tupla[3] %}checked{% endif %}></input>
        <label for="{{ 'planilha_%s'|format(key + tupla[0]) }}">{{ tupla[1].decode('utf-8') + '     ( ' + tupla[2] + ' )' }}</label>
    </dd></h3>
    {% endfor %}
    </dl> <!-- FIM DO FORMULARIO -->
    <input type="submit" value="Download">
</form>
{% endblock %}
{% block script %}
{{ super() }}
<script type="text/javascript">
$(document).ready(function(){
    $("#planilhas").change(function(){
        if ($("#planilhas").prop("checked")) {
            {% for key, tupla in planilhas[1].items() %}
                $("{{ '#planilha_%s'|format(key + tupla[0]) }}").prop("checked", true);
            {% endfor %}
        } else {
            {% for key, tupla in planilhas[1].items() %}
                $("{{ '#planilha_%s'|format(key + tupla[0]) }}").prop("checked", false);
            {% endfor %}
        }
    });
    {% for key, tupla in planilhas[1].items() %}
        $("{{ '#planilha_%s'|format(key + tupla[0]) }}").change(function(){
            if ($("{{ '#planilha_%s'|format(key + tupla[0]) }}").prop("checked")) {
                $("#planilhas").prop("checked", true);
            }
            if ({% for _key, _tupla in planilhas[1].items() %} (! $("{{ '#planilha_%s'|format(_key + _tupla[0]) }}").prop("checked") ) && {% endfor %} true) {
                $("#planilhas").prop("checked", false);
            }
            {% for _key, _tupla in planilhas[1].items() %}
                // mesmo campus
                {% if tupla[1] == _tupla[1] %}
                    // diferentes perfis
                    {% if tupla[2] != _tupla[2] %}
                        if ($("{{ '#planilha_%s'|format(key + tupla[0]) }}").prop("checked")) {
                            $("{{ '#planilha_%s'|format(_key + _tupla[0]) }}").prop("checked", false);
                        }
                    {% endif %}
                {% endif %}
            {% endfor %}
        });
    {% endfor %}
});
</script>
{% endblock %}