{% extends "base.html" %}
{% block title %}SISTEC-DOWNLOAD: planilha(s) baixada(s){% endblock %}
{% block h1 %}SISTEC-DOWNLOAD: planilha(s) baixada(s){% endblock %}

{% block content %}

    {% if campi.planilhas %}
        <h2>Planilha(s) do(s) C&acirc;mpus do IFG</h2>
        <ul id="planilhas" style="list-style-type:square">
        {% for campus in campi.planilhas %}
            <li><a href="{{ campus.href }}">{{ campus.caption }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    <button id="inicio">In&iacute;cio</button>

{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
    $("#inicio").click(function(){
        window.location.href = "{{ url_for('index') }}";
    });
</script>
{% endblock %}
